workflow/attendance-logic.json
{
  "name": "Attendance Management Project Using AI Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        176,
        -192
      ],
      "id": "02be11a3-bde1-4c4f-9a7f-5ea7b82bb741",
      "name": "Telegram Trigger",
      "webhookId": "WEBHOOK-ID-HERE",
      "credentials": {
        "telegramApi": {
          "id":  "WEBHOOK-ID-HERE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text || $json.message.photo[0] }}",
        "options": {
          "systemMessage": "=Role: High-Security Attendance Bot.\n\nPhase 1: Status Check\n\nask user their employee id, then greet with their name and firmly ask for geolocation selfie give employee id and list to the employee for convinience.\n\nIdentify the Employee ID and Name from the tools Google sheet called Employee Details using uploaded image of employee.\n\nGenerate unique_id: \"dd-MM-ID\".\n\nSearch the \"Overall Attendance Summary\" sheet for this unique_id:\n\nIf No Record Found: Proceed with Check-In.\n\nIf Check-In exists but Check-Out is blank: Proceed with Check-Out.\n\nIf both exist: Inform them \"Attendance for today is already complete.\" Do not send JSON.\n\nPhase 2: Security (Metadata & GPS)\n\nIdentity & Face Match: Use the google sheets tool \"Employee Details\" for Employee ID.\n\nFraud Detection: Fraud Detection Protocols (Phase 2):\n\nSpoofing Detection: Check if the selfie is a photo of a digital screen, a printed photograph, or if the employee is wearing a mask.\n\nFace Mismatch: If face verification fails more than twice for the same ID, flag this as a potential impersonation attempt.\n\nGPS Tampering: If the metadata suggests the location was manually altered or is inconsistent with the image content, set selfie_status to \"Fraud Detected\".\n\nTime Manipulation: If the photo's internal metadata time differs significantly from the message sent time, flag as \"Time Spoofing\".\n\nPhoto must be within 30 mins of {{ $now }}.\n\nGPS must be within 500m of the 3 coordinates.\n\nCordinates :\n(1) 22째58'32.5\"N, 72째32'57.3\"E\n\n(2) 22째56'17.5\"N, 72째38'43.0\"E\n\n(3) 23.102983, 72.606462\n\nIf rejected, send one-line text only. No JSON.\n\nPhase 3: Structured Output Send JSON only if Verified:\n\nJSON\n{\n \"Timestamp\": \"{{ $now }}\",\n \"Date\": \"dd-MMM-yyyy\",\n \"Employee_ID\": \"ID\",\n \"Unique_ID\": \"dd-MM-ID\",\n \"Name\": \"Name\",\n \"Check_In_Time\": \"HH:mm:ss or blank\",\n \"Check_Out_Time\": \"HH:mm:ss or blank\",\n \"Status\": \"Verified\"\n \"Summary\" : \"Massage for verification or other massahes you have to give employee\"\n}\nRule: If Check-In, leave Check_Out_Time empty. If Check-Out, include the Check_In_Time you found in the sheet and add the current Check_Out_Time",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        592,
        -192
      ],
      "id": "f4998fdc-efc3-43c4-bebd-9ce4786b6a29",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        32
      ],
      "id": "9c2ecae7-be56-4272-8043-cd9048bb1b07",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "vXfFV54UUgnmtcra",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        528,
        32
      ],
      "id": "4c094b65-9efd-4853-bd98-cc6b121a832f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        -96
      ],
      "id": "0d8a49a8-9c75-4f24-8ae7-7cd48de49072",
      "name": "Send a text message",
      "webhookId":  "WEBHOOK-ID-HERE",
      "credentials": {
        "telegramApi": {
          "id":  "WEBHOOK-ID-HERE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This script extracts the JSON object from the AI's text response\nconst rawOutput = $input.first().json.output;\n\n// Use regex to find the JSON content between the brackets { }\nconst jsonMatch = rawOutput.match(/\\{[\\s\\S]*\\}/);\n\nif (jsonMatch) {\n  // Parse the string into a real JSON object\n  const data = JSON.parse(jsonMatch[0]);\n  \n  return {\n    timestamp: data.Timestamp,\n    date: data.Date,\n    employee_id: data.Employee_ID,\n    unique_id: data.Unique_ID,\n    name: data.Name,\n    check_in_time: data.Check_In_Time,\n    check_out_time: data.Check_Out_Time,\n    status: data.Status,\n    summary: data.Summary\n  };\n} else {\n  // Error handling if the AI sends plain text instead of JSON\n  throw new Error(\"AI did not provide a valid JSON structure.\");\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -288
      ],
      "id": "7404cdac-fe38-472f-a788-674670606a1b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "85fb3b83-c0e1-44ff-9f49-17398a642f74",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Unique_ID",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        -192
      ],
      "id": "243d2aec-ed22-45d4-92b8-7191c60c2dbc",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Code in JavaScript').item.json.summary }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1792,
        -288
      ],
      "id": "e970069c-d9ef-4e0d-a944-687fbcfe6fbc",
      "name": "Send a text message1",
      "webhookId":  "WEBHOOK-ID-HERE",
      "credentials": {
        "telegramApi": {
          "id":  "WEBHOOK-ID-HERE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        656,
        32
      ],
      "id": "40b4ebcc-d2b8-48d2-8126-3de1cd29996c",
      "name": "Think"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR-SHEET-ID-HERE",
          "mode": "list",
          "cachedResultName": "Employee Attendance Experimental",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR-SHEET-ID-HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Employee Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR-SHEET-ID-HERE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        784,
        32
      ],
      "id": "01f097eb-e129-4dac-8129-32aa23301435",
      "name": "Employee Details",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qtrdguTvh1RrAzyC",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR-SHEET-ID-HERE",
          "mode": "list",
          "cachedResultName": "Employee Attendance Experimental",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR-SHEET-ID-HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1965735588,
          "mode": "list",
          "cachedResultName": "Overall Attendance Summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR-SHEET-ID-HERE/edit#gid=1965735588"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        944,
        32
      ],
      "id": "6a363b2e-81c7-4725-afd9-9339d6daa838",
      "name": "Overall Attendance Summary",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qtrdguTvh1RrAzyC",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR-SHEET-ID-HERE",
          "mode": "list",
          "cachedResultName": "Employee Attendance Experimental",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR-SHEET-ID-HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1965735588,
          "mode": "list",
          "cachedResultName": "Overall Attendance Summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR-SHEET-ID-HERE/edit#gid=1965735588"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Date": "={{ $json.date }}",
            "Employee ID": "={{ $json.employee_id }}",
            "Name": "={{ $json.name }}",
            "Unique ID": "={{ $json.unique_id }}",
            "Check-In Time": "={{ $json.check_in_time }}",
            "Check-Out Time": "={{ $json.check_out_time }}",
            "Status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "Unique ID"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee ID",
              "displayName": "Employee ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Unique ID",
              "displayName": "Unique ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check-In Time",
              "displayName": "Check-In Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Check-Out Time",
              "displayName": "Check-Out Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        -288
      ],
      "id": "c085a465-88d8-46d9-a79d-e9c72b8f03c0",
      "name": "Append or update row in Overall Attendance Summary",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qtrdguTvh1RrAzyC",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in Overall Attendance Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Employee Details": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Overall Attendance Summary": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in Overall Attendance Summary": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5e82536d-e38c-4f27-85d3-d514764d073a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9b647e5aeb967e30d07c3e1c9cacd1af79daef4e1414bfed624668663d33146"
  },
  "id": "kgfA25ebRV88sZLf",
  "tags": []
}